
body {
    background-attachment: fixed;
}

/* budged filter */

.budget-filter {
    width: 100%;
    position: fixed;
    top: 130px;
    background-color: rgb(243, 244, 246);
    padding-top: 14px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.budget-filter form {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.budget-filter button {
    flex: 1 1 0;
    min-width: 120px;
    max-width: 240px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.budget-filter button:hover {
    background-color: #2563eb;
}

.budget-filter h4 {
    margin:5px 0 0 15px
}

/* year selector */

.year-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.year-selector button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #1e293b;
}

/* budget grid */

.budget-grid {
    display: grid;
    padding: 130px 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* budget card */

.budget-card {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

.budget-card__category {
    max-height: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.budget-card__info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.budget-card__info p {
    display: flex;
    justify-content: space-between;
}

.budget-card h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.budget-card p {
    margin: 0;
    font-size: 0.95rem;
}

.icon {
    font-size: 1.8rem;
    color: #6dbce0;
    margin-right: 14px;
}

.progress-bar {
    height: 10px;
    background-color: #eee;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.progress {
    height: 100%;
}

.progress.green {
    background-color: #10b981;
}

.progress.red {
    background-color: #ef4444;
}

.disponible .status {
    color: #10b981;
    font-weight: bold;
}

.excedido .status {
    color: #ef4444;
    font-weight: bold;
}

/* resposive */

@media (max-width: 600px) {
    .budget-filter form {
        flex-direction: column;
    }
    .budget-grid {
        padding: 189px 20px;
    }
    .budget-filter button {
        width: 100%;
        max-width: 100%;
    }
}