.transaction-page {
    /* height: 100vh; */
    display:flex;
    margin-top:143px;
    flex-direction:column;
    /* box-sizing: border-box;
    background-image: url('/tu-fondo.jpg'); 
    background-size: cover;*/
    /*overflow: hidden; /* evita scroll exterior */
    /* display: flex;
    flex-direction: column; */
}


.transactions-header {
    display: grid;
    grid-template-columns: 120px 1fr 100px 120px;
    /* align-items: center; */
    gap: 12px;
    padding: 10px 33px 10px 16px;
    font-size: 0.95rem;
    background-color: #f3f4f6;
    font-weight: bold;
    /* z-index: 20; */
    border-bottom: 1px solid #d1d5db;
    position: fixed;
    top: 219px;
    left:0;
    right:0;
    height: auto; /* antes de 1 no estaba */
}

.col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col.date,
.col.concepto {
    text-align: left;
}

.col.cantidad,
.col.saldo {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.col.saldo.negativo {
    color: #ef4444;
    font-weight: bold;
}